.next {
    margin-left: 100px;
}


h1 {
    color: red;
}

h2 {
    color: green;    
}

h3 {
    color: blue;
}

.button1 {
    color: green;
}    

.button2 {
    border: none;
    border-radius: 6px;
    color:lightgreen;
    background-color: darkgreen;
}

.button3{
    border-radius: 50%;
}

.a {
   list-style-type: disc;
}

.b {
    list-style-type: circle;
}

.c {
    list-style-type: square;
}

.d {
    list-style-type: none;
}

.pl1 {
    list-style-type: lower-alpha;
}

.pl2 {
    list-style-type: upper-alpha;
}

.pl3 {
    list-style-type: lower-roman;
}

.pl4 {
    list-style-type: upper-roman;
}

.pl5 {
    list-style-type: lower-greek;
}